@model List<Booking>

<h1>More info</h1>
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            var bookings = Model;
            Booking barber = bookings[ViewBag.Bid];
        }
        <tr>
            <th scope="row">@(ViewBag.Bid+1)</th>
            <td>@barber.Barber.Name</td>
            <td>@barber.Barber.Surname</td>
            <td>@barber.Barber.Age</td>
            <td>@barber.Barber.Gender.ToString()</td>
            <td>@barber.AvailableTime.ToString()</td>
            <td>@barber.BookingStatus.ToString()</td>
            <td>
                <a asp-controller="Booking"
                   asp-action="Index" role="button">go back</a>
            </td>
        </tr>
    </tbody>
</table>